body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

main {
    flex: 1;
}

/* From Uiverse.io by muhammad_1479 */
/* .container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(200, 0, 0, 0.5) 50%,
        transparent 50%
    ),
    linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 50%);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
} */


.card {
    transition: transform 0.2s;
    background-color: rgba(255, 255, 255, 0.95);
}

.card:hover {
    transform: translateY(-5px);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.badge {
    font-size: 0.75rem;
}

.table th {
    white-space: nowrap;
}

